@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;700&display=swap');
@import '@/styles/null.css';
@import '@/styles/variables.scss';

#app {
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $textColor;
	background-color: $bodyColor;
	height: 100vh;
}
input {
	font-family: $font;
}
a {
	font-weight: 500;
	color: $textColor;
	font-size: 0.875rem;
}
