* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html {
	font-size: 1rem;
}

html,
body {
	min-width: 20rem;
}

body {
	line-height: 1;
	font-family: 'Montserrat';
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: 'Montserrat';
	font-size: inherit;
	outline: none;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: inherit;
	font-family: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	font-size: 0.875rem;
}

a:hover {
	text-decoration: underline;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	background: #f9fbff;
	color: #151d28;
}

body._lock {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

html,
body {
	overflow-x: hidden;
}
